<!DOCTYPE html>
<html>
<head>
    <title>Smart Attendance System - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>

<div class="login-container">
    <div class="login-card">
        <h1>Smart Attendance System</h1>
        <p class="subtitle">Secure Login</p>

        <form method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button class="btn">Login</button>
        </form>
    </div>
</div>

</body>
</html>
